@media only screen and (min-width: 1200px){
     *{
          padding: 0;
          margin: 0;
          box-sizing: border-box;
     }
     html{
          font-family: 'Poppins', sans-serif;
          scroll-behavior: smooth;
     }
     .mahogany{
          height: 100vh;
          background-color: #222222;
     }
     .mahogany-cont{
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 62px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
     }
     .mahogany-img{
          height: 600px;
          width: 1037px;
          margin: 0 150px;
     }
     .mahogany-heading-cont{
          color: #fff;
          text-transform: uppercase;
     }
     .mahogany-heading{
          font-weight: bold;
          font-size: 66px;
          line-height: 94px;
     }
     .mahogany-sub{
          font-weight: 300;
          font-size: 36px;
          line-height: 51px;
     }
     
     .mahogany-links-cont{
          display: flex;
          flex-direction: row;
          gap: 64px;
          justify-content: center;
     }
     .mahogany-link{
          text-decoration: none;
          padding: 8px 32px;
          background-color: #FDECE7;
          color: #F1592A;
          font-size: 18px;
          text-transform: uppercase;
          border-radius: 4px;
     }
     .main{
          height: 100%;
          display: flex;
          flex-direction: column;
     }
     .aside{
          position: fixed;
          display: none;
          background-color: #222222;
          height: 100vh;
          width: 55%;
     }
     .aside-cont{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 30px;
          padding: 80px 100px;
     }
     .side-list{
          display: flex;
          flex-direction: column;
          gap: 50px;
          list-style: none;
     }
     .side-link{
          text-decoration: none;
          color: #FDECE7;
          font-weight: 100;
          text-transform: uppercase;
     }
     .close{
          font-size: 84px;
          color: #FDECE7;
          font-weight: 100;
          cursor: pointer;
     }
     .nav{
          height: 40vh;
          background-color: #fff;
     }
     .heading{
          text-align: center;
          text-transform: uppercase;
          padding: 50px 0;
     }
     .heading1{
          font-size: 38px;
          font-weight: 700;
          line-height: 54.33px;
     }
     .list{
          display: flex;
          flex-direction: row;
          list-style: none;
          gap: 41px;
          justify-content: center;
     }
     .nav-link{
          text-decoration: none;
          text-transform: uppercase;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.43em;
          font-weight: 500;
          color: #4D4D4D;
     }

     .border{
          border: 1px solid #000000;
          height: 0;
          opacity: 0.2;
          margin-top: 62px;
     }
     .icon{
          color: #4D4D4D !important;
     }
     .header{
          height: 50vh;
          background-image: url(../img/rectangle9.png);
     }
     .heading2{
          color: #fff;
          font-size: 51px;
          font-weight: bold;
          line-height: 73px;
          text-transform: capitalize;
          text-align: center;
          margin: 120px 0;
     }
     .img-section{
          height: 100%;
     }
     .container{
          padding: 0 88px;
          display: flex;
          flex-direction: column;
          gap: 50px;
          width: 100%;
     }
     .title{
          font-weight: bold;
          font-size: 38px;
          line-height: 54px;
          color: #000000;
          text-transform: capitalize;
          margin-top: 100px;
     }
     .alpha{
          display: flex;
          flex-direction: row;
          gap: 32px;
          font-size: 16px;
          text-transform: capitalize;
     }
     .alpha a{
          text-decoration: none;
          color: #828282;
     }
     .alpha-1{
          display: flex;
          flex-direction: row;
          gap: 32px;
          font-size: 16px;
          text-transform: capitalize;
          margin-top: 100px;
     }
     .alpha-1 a{
          text-decoration: none;
          color: #828282;
     }
     .images{
          display: flex;
          flex-direction: column;
          gap: 100px;
     }
     .row1{
          display: flex;
          flex-direction: row;
          gap: 30px;
     }
     .row2{
          display: flex;
          flex-direction: row;
     }
     .profile{
          width: 273px;
          height: 295px;
          cursor: pointer;
     }

     .profile:hover .hover-text{
          display: block;
          background: rgba(34, 34, 34, 0.4);
          backdrop-filter: blur(10px);
          height: 100%;
     }
     .hover-text{
          display: none;
          color: #fff;
          text-align: center;
          padding: 50px 0;
          align-items: center;
     }
     .hover-text p{
          font-weight: 390;
          font-size: 12px;
          line-height: 17px;
         word-spacing: 5px;
         text-transform: capitalize;
         padding-top: 10px;
     }

     .name{
          text-align: center;
          font-size: 21px;
          font-weight: 400;
          color: #4D4D4D;
          line-height: 25px;
          text-transform: uppercase;
          margin-top: 10px;
     }
     .insta-heading{
          font-weight: bold;
          font-size: 28px;
          line-height: 40px;
          margin: 20px 0;
     }
     .insta-sub{
          font-weight: 300;
          font-size: 16px;
          line-height: 30px;
          margin-bottom: 27px;
     }
     .link-group{
          display: flex;
          flex-direction: row;
          gap: 77px;
          justify-content: center;
     }
     .area{
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 390;
          font-size: 18px;
          line-height: 30px;
          color: #828282;
          margin-bottom: 24px;
     }
     .footer{
          height: 100%;
          background-color: #222222;
          color: #fff;
     }
     .foot-cont{
          display: flex;
          flex-direction: row;
          gap: 120px;
     }
     .row3{
          display: flex;
          flex-direction: column;
          gap: 15px;
          margin-top: 85px;
     }
     .foot-link{
          text-decoration: none;
          color: #fff;
          font-weight: 200;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.43em;
          text-transform: uppercase;
          display: flex;
          flex-direction: row;
          gap: 10px;
     }
     .follow{
          text-decoration: none;
          color: #fff;
          font-weight: 200;
          font-size: 12px;
          line-height: 17px;
          letter-spacing: 0.43em;
          text-transform: uppercase;
     }
     .copyright{
          font-weight: 390;
          font-size: 16px;
          line-height: 22px;
          margin-bottom: 84px;
          letter-spacing: 0.05em;
     }
     .model-cont{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 62px;
          height: 100%;
     }
     .model-cont2{
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-top: 135px;
          height: 100%;
     }
     .model-text-cont{
          width: 50%;
          margin: auto 0;
          display: flex;
          flex-direction: column;
          gap: 30px;
     }
     .model-heading{
          font-weight: bold;
          font-size: 24px;
          line-height: 40px;
          color: #222222;
     }
     .model-text1{
          font-weight: 490;
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          color: #4D4D4D;
     }
     .model-btn{
          text-decoration: none;
          background-color: #F1592A;
          padding: 12px 32px;
          width: 151px;
          color: #fff;
          border-radius: 4px;
          font-size: 16px;
          font-weight: 420;
          line-height: 30px;
     }
     .model-img{
          width: 382px;
          height: 382px;
     }
     .disclaimer-cont{
          margin-bottom: 100px;
          display: flex;
          flex-direction: row;
          gap: 27px;
          height: 100%;
          width: 100%;
     }
 
     .sub-model-heading{
          text-transform: uppercase;
          font-size: 16px;
          width: 841px;
     }
     .border-long{
          display: flex;
          flex-direction: column;
     }
     .border-left{
          width: 8px;          
          height: 100%;
          background-color: #F2C94C;
     }
     .model-text2{
          font-size: 16px;
          line-height: 22px;
          letter-spacing: 0.05em;
          width: 841px;
          color: #4D4D4D;
     }
     .continue, .less{
          display: none;
          border: none;
          text-align: left;
          color: #F1592A;
          font-weight: 420;
          font-size: 16px;
          line-height: 23px;
          background-color: transparent;
          cursor: pointer;
     }
     .less{
          display: none;
     }
     .hide{
          display: none;
     }
     .a{
          margin: 20px 0;
     }
     .c{
          margin: 20px 0;
     }
     .d{
          margin: 20px 0;
          text-transform: uppercase;
          width: 841px;
     }
     .show-hide{
          display: block;
     }
     .show{
          display: block;
     }
     .color{
          background-color: #FDECE7;
          width: 100%;
          padding: 30px 0;
          height: 90px;
     }
}